<div class="frame" id="_page_1" ng-controller="testCtrl" style="padding-bottom: 0">
    <h1 id="classCurrentRights" style="position: absolute;left: 20px;top: 100px; margin-top: 0">{{currentRights}}</h1>
    <!--<h1 style="position: absolute;left: 20px;top: 200px; margin-top: 0">{{result.amount}}</h1>-->
    <div class="grid fluid">
        <div class="row">

            <div class="span9">
                <!--@fixme pornography  style="margin-top: 0"-->
                <div class="row" style="margin-top: 0">
                    <!--@todo src porevo!!!!!-->
                    <object height="1" width="1" data="http://china-standart.ru{{sound}}"></object>
                    <button class="button {{class_button_next}}" ng-click="nextWord()" style="margin-left:50px">{{button_next}} <i id='id_button_next' class="icon-spin"></i></button>
                    <output id="value"></output>
                    <ng-pluralize count="words.length"
                                  when="{'0': 'Ничего не выбрано',
                        '1': 'Слишком мало слов. Выбрано {} слово',
                        '2': 'Слишком мало слов. Выбрано {} слова',
                        '3': 'Слишком мало слов. Выбрано {} слова',
                        '4': 'Слишком мало слов. Выбрано {} слова',
                        '5': 'Слишком мало слов. Выбрано {} слов',
                        '6': 'Слишком мало слов. Выбрано {} слов',
                        '7': 'Слишком мало слов. Выбрано {} слов',
                        '8': 'Слишком мало слов. Выбрано {} слов',
                        '9': 'Слишком мало слов. Выбрано {} слов',
                     'one': 'Выбрано {} слово',
                     'few': 'Выбрано {} слово',
                     'many': 'Выбрано {} слов'}">
                    </ng-pluralize>
                    <!--@fixme pornography  <center>-->
                    <center>
                        <button class="shortcut link " id="random" style="font-size: 60px;">{{char}}
                        </button>
                    </center>
                </div>


                <!--@todo  убрать h2 это порнография-->
                <!--@todo  не понятно как воспроизвести музыку юзабилити-->
                <div class="row">
                    <!--@fixme pornography  style="margin-top: 0"-->
                    <div class="accordion place-center" data-role="accordion" data-closeany="true"
                         style="width: 50%;margin: 0 auto;">


                        <div class="accordion-frame" ng-repeat="wordsTest in wordsTests">
                            <a class="heading" href="#" ng-click="checkAnswer(wordsTest.ansv)">{{wordsTest.russian}}</a>

                            <div class="content">
                                <div class="grid" style="margin-top:0;margin-bottom:0">
                                    <div class="row" style="margin-top:0;margin-bottom:0">
                                        <audio ngsrc="{{wordsTest.sound}}"></audio>
                                        <div class="span4"><h2>{{wordsTest.char}}</h2></div>
                                        <div class="span4"><h2>{{wordsTest.pinyin}}</h2></div>
                                    </div>
                                    <div class="row" style="margin-top:0;margin-bottom:0">
                                        <div class="span4">
                                            <button class="button {{wordsTest.ansver}}" ng-click="nextWord()">
                                            {{wordsTest.button}}
                                        </button>
                                        </div>
                                        <div class="span8">
                                            <p class="text-muted">Результат не будет засчитан</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <div class="span3">
                    <div ng-include="'partials/treeview.html'"></div>
            </div>

        </div>
    </div>
</div>
<script>



</script>