<li class="node">
    <a href="#"><span class="node-toggle"></span>категория</a>
    <ul>
        <li> <div class="input-control checkbox" data-role="input-control">
            <label>
                <input type="checkbox" ng-model="lol" />
                <span class="check"></span>
                иероглиф {{lol}}
            </label>
        </div>
        </li>
        <li> <div class="input-control checkbox" data-role="input-control">
            <label>
                <input type="checkbox" checked />
                <span class="check"></span>
                пиньинь
            </label>
        </div>
        </li>
        <li> <div class="input-control checkbox" data-role="input-control">
            <label>
                <input type="checkbox" checked/>
                <span class="check"></span>
                русский
            </label>
        </div>
        </li>
        <li> <div class="input-control checkbox" data-role="input-control">
            <label>
                <input type="checkbox"/>
                <span class="check"></span>
                english
            </label>
        </div>
        </li>
    </ul>
</li>