.tab-control {
    width: 100% !important;
    position: absolute;
}
/*.test {
    width: 50%;
    margin: 0 auto;
}*/

.tabcontrol .frames .frame {
    background-color: #ffffff;
}
body{
    background-color: #ffffff;
}

.checkboxtree {
    height: 500px ;overflow: scroll;overflow-x: hidden;
}
.searchSummary {
    height: 20px;width: 100%;
}
.zoneSummary {
    height: 500px; overflow: scroll; overflow-x: hidden;
}
.buttonSound {
    font-size: 40px!important;height: 120px !important;width: 120px !important;
}
.font60 {
    font-size: 60px!important;
}
.font20 {
    font-size: 20px!important;
}
/*.classCurrentRights {*/
    /*position: absolute;*/
    /*left: 20px;top: 100px;*/
    /*margin-top: 0;*/
/*}*/
frame  {
    background-color: #ffffff!important;
}

.input-control.select {
    width: 13.875rem;
}
.leaf {
    padding-left: 10px;
}
.accordion > .frame > .heading {
    font-weight: normal;
}