#_page_4.frame(ng-controller='settingsCtrl')
	// {{languages.select}}
	// <label>
	// <select  ng-model="select" ng-options="select.text for select in selections">
	// <option></option>
	// </select>
	// </label>
	// {{select}}
	// <button class="button" ng-click="nextWord()">СЛЕДУЮЩИЙ</button>
	label
		select(ng-model='selectLang', ng-options='selectLang for selectLang in languages', ng-change='freshLanguage(selectLang)')
	.grid.fluid
		.row
			.span6
				.row
					.input-control.checkbox(data-role='input-control')
						label
							input(type='checkbox', ng-model='settings.sound')
							span.check
							| Произношение
				.row
					.input-control.checkbox(data-role='input-control')
						label
							input(type='checkbox', ng-model='settings.color')
							span.check
							| Расскаска слогов по тонам
				.row
					.input-control.checkbox(data-role='input-control')
						label
							input(type='checkbox', ng-model='settings.number')
							span.check
							| Цифры тонов
				.row
					.input-control.checkbox(data-role='input-control')
						label
							input(type='checkbox', ng-model='settings.letter')
							span.check
							| Подчёркивания
			.span6
				.pinyin.span3
					span(style='font-size: xx-large; color:{{tone.color}}', ng-repeat='tone in example')
						span(ng-hide='settings.letter') {{tone.pinyin}}
						span(ng-show='settings.letter') {{tone.transpinyin}}
						span(ng-show='settings.number') {{tone.number}}
