#_page_4.frame(ng-controller='SettingsController')
	.input-control.select
		select(ng-model='selectLang', ng-options='selectLang for selectLang in languages', ng-change='freshLanguage(selectLang)')
	.grid.fluid
		.row.cells2
			.cell
				.row.condensed
					.input-control.checkbox
						label
							input(type='checkbox', ng-model='settings.sound')
							span.check
							span.leaf {{content.pronunciation}}
				.row.condensed
					.input-control.checkbox
						label
							input(type='checkbox', ng-model='settings.color')
							span.check
							span.leaf {{content.color}}
				.row.condensed
					.input-control.checkbox
						label
							input(type='checkbox', ng-model='settings.number')
							span.check
							span.leaf {{content.numberTone}}
				.row.condensed
					.input-control.checkbox
						label
							input(type='checkbox', ng-model='settings.letter')
							span.check
							span.leaf {{content.score}}
			.cell
				.pinyin
					span(style='font-size: xx-large; color:{{tone.color}}', ng-repeat='tone in example')
						span(ng-hide='settings.letter') {{tone.pinyin}}
						span(ng-show='settings.letter') {{tone.transpinyin}}
						span(ng-show='settings.number') {{tone.number}}
