#_page_2.frame.frame.no-padding(ng-controller='SummaryController')
	.searchSummary.padding10
		| Поиск:
		input(ng-model='query')
		ng-pluralize.padding10(count='words.length', when="{'0': 'Ничего не выбрано',\
			'one': 'Выбрано {} слово',\
			'few': 'Выбрано {} слово',\
			'many': 'Выбрано {} слов'}")
	.grid.margin20
		.row.cells12
			.cell.colspan3
				div(ng-include="'partials/checkbox/checkbox.html'")
			#table.cell.colspan9.tableContainer
				.summaryLoader(ng-show='summaryLoader')
					.spinner
						.rect1
						.rect2
						.rect3
						.rect4
						.rect5
				table.table
					thead
						.row.cells4
							.text-left.cell
								a(href='', ng-click="predicate = 'id'; reverse=false") Иероглиф{{language.char}}
								| (
								a(href='', ng-click="predicate = '-id'; reverse=false") ^
								| )
							.text-left.cell
								a(href='', ng-click="predicate = 's'; reverse=!reverse") Пиньинь{{language.pinyin}}
							.text-left.cell
								a(href='', ng-click="predicate = 'russian'; reverse=!reverse") Русский{{language.translate}}
							.text-left.cell(style='display: none')
								a(href='', ng-click="predicate = 'english'; reverse=!reverse") Английский{{language.eng}}
					tbody.scrollContent
						.zoneSummary
							div.row.cells12(ng-repeat='word in words | filter:query | orderBy:predicate:reverse')
								.char.char_big.cell.colspan3 {{word.id}}	{{word.char}}
								.pinyin.cell.colspan3
									span(style='color:{{tone.colorStyle}}', ng-repeat='tone in word.pinyin')
										span(ng-show='!settings.letter') {{tone.pinyin}}
										span(ng-show='settings.letter') {{tone.transpinyin}}
										span(ng-show='settings.number') {{tone.number}}
								.russian.cell.colspan6 {{word.russian}}
