#_page_1.frame.nbp(ng-controller='TestController')
	h1(ng-show='answer') {{currentRights}}
	// <h1 style="position: absolute;left: 20px;top: 200px; margin-top: 0">{{result.amount}}</h1>
	label
		select(ng-model='select', ng-options='select for select in regimes')
	.grid.fluid
		.row
			.span9
				.row.ntm
					#sound
					button.button.padding20(ng-class='class_button_next', ng-click='nextWord()')
						| {{button_next}}
						i.icon-spin(ng-show='showSpin')
					output#value.padding10
					ng-pluralize(count='words.length', when="{'0': 'Ничего не выбрано',\
						'1': 'Слишком мало слов. Выбрано {} слово',\
						'2': 'Слишком мало слов. Выбрано {} слова',\
						'3': 'Слишком мало слов. Выбрано {} слова',\
						'4': 'Слишком мало слов. Выбрано {} слова',\
						'5': 'Слишком мало слов. Выбрано {} слов',\
						'6': 'Слишком мало слов. Выбрано {} слов',\
						'7': 'Слишком мало слов. Выбрано {} слов',\
						'8': 'Слишком мало слов. Выбрано {} слов',\
						'9': 'Слишком мало слов. Выбрано {} слов',\
						'one': 'Выбрано {} слово',\
						'few': 'Выбрано {} слово',\
						'many': 'Выбрано {} слов'}")
					// @fixme pornography  <center>
					center
						button.shortcut.link.buttonSound(ng-show='soundRegime', ng-click='playSound()')
							i.icon-volume-5
						button.shortcut.link.font60(ng-show='charRegime', ng-style='questionStyle') {{char}}
						.russian-char.font20(ng-show='translateRegime') {{russian}}
				// @todo  не понятно как воспроизвести музыку юзабилити
				.row
					.accordion.place-center.test(data-role='accordion', data-closeany='true')
						.accordion-frame(ng-repeat='wordsTest in wordsTests')
							a.heading(href='#', ng-click='isRight(wordsTest.ansv)') {{wordsTest.main}}
							.content
								.grid.no-margin
									.row.no-margin
										audio(ngsrc='{{wordsTest.sound}}')
										.span4
											h2 {{wordsTest.char}}
										.span6
											h2
												span(style='color:{{tone.color}}', ng-repeat='tone in wordsTest.pinyin')
													span(ng-hide='settings.letter') {{tone.pinyin}}
													span(ng-show='settings.letter') {{tone.transpinyin}}
													span(ng-show='settings.number') {{tone.number}}
									.row.no-margin
										.span4
											button.button(ng-class='wordsTest.ansver', ng-click='nextWord()')
												| {{wordsTest.button}}
			.span3
				div(ng-include="'partials/checkbox/checkbox.html'")
