#_page_1.frame.no-padding(ng-controller='TestController')
	// <h1 style="position: absolute;left: 20px;top: 200px; margin-top: 0">{{result.amount}}</h1>
	.grid
		.row.cells12
			.cell.colspan3
				.row.condensed
					.margin10.label
						.input-control.select
							select(ng-model='select', ng-options='select for select in regimes')
				.row.condensed
					#sound
					button.button.margin10.align-center(ng-class='class_button_next' ng-click='nextWord()')
						|{{button_next}}
						span.mif-loop2.align-right(ng-show='showSpin')
				.row.condensed
					output#value
					ng-pluralize.margin10(count='words.length', when="{'0': 'Ничего не выбрано',\
						'1': 'Слишком мало слов. Выбрано {} слово',\
						'2': 'Слишком мало слов. Выбрано {} слова',\
						'3': 'Слишком мало слов. Выбрано {} слова',\
						'4': 'Слишком мало слов. Выбрано {} слова',\
						'5': 'Слишком мало слов. Выбрано {} слов',\
						'6': 'Слишком мало слов. Выбрано {} слов',\
						'7': 'Слишком мало слов. Выбрано {} слов',\
						'8': 'Слишком мало слов. Выбрано {} слов',\
						'9': 'Слишком мало слов. Выбрано {} слов',\
						'one': 'Выбрано {} слово',\
						'few': 'Выбрано {} слово',\
						'many': 'Выбрано {} слов'}")
				.row.condensed
					h1.margin10.align-center(ng-show='answer' ng-bind='currentRights')
					// @fixme pornography  <center>
			.cell.colspan6
				.row.condensed
					// @fixme pornography  <center>
					center
						button.shortcut.link.buttonSound(ng-show='soundCharRegime || soundTranslateRegime', ng-click='playSound()')
							i.mif-volume-medium
						button.shortcut.link.font60(ng-show='charRegime', ng-style='questionStyle', ng-click='playSound()') {{char}}
						.russian-char.font20(ng-show='translateRegime') {{russian}}
				// @todo  не понятно как воспроизвести музыку юзабилити
				.row.condensed
					.accordion.place-center.test( id="accordion" data-role="accordion", data-closeany-any='true')
						.frame.no-padding(ng-repeat='wordsTest in wordsTests')
							a.heading(href='#', ng-click='isRight(wordsTest.ansv)', ng-style='variantStyle') {{wordsTest.main}}
							.content.no-margin
								.row.cells6.no-margin(ng-show='charRegime || soundCharRegime')
									audio(ngsrc='{{wordsTest.sound}}')
									.cell.colspan2
										h2 {{wordsTest.char}}
									.cell.colspan3
										h2
											span(style='color:{{tone.color}}', ng-repeat='tone in wordsTest.pinyin')
												span(ng-hide='settings.letter') {{tone.pinyin}}
												span(ng-show='settings.letter') {{tone.transpinyin}}
												span(ng-show='settings.number') {{tone.number}}
								.row.condensed.no-margin(ng-show='translateRegime || soundTranslateRegime')
									h4 {{wordsTest.russian}}
								.row.condensed.no-margin
									button.button(ng-class='wordsTest.ansver', ng-click='nextWord()')
										| {{wordsTest.button}}
			.cell.colspan3
				div(ng-include="'partials/checkbox/checkbox.html'")
