<div class="frame" id="_page_2" ng-controller="summaryCtrl" style="padding-bottom: 0">
    <div style="height: 20px;width: 100%;"></div>
    Поиск: <input ng-model="query">
    <ng-pluralize count="words.length"
                  when="{'0': 'Ничего не выбрано',
                     'one': 'Выбрано {} слово',
                     'few': 'Выбрано {} слово',
                     'many': 'Выбрано {} слов'}">
    </ng-pluralize>
    <div class="grid fluid">
        <div class="row">

<div class="span3">
<div ng-include="'partials/treeview.html'"></div>
</div>

            <div class="span9 tableContainer" id="table" >

                <div class="summaryLoader" ng-show="summaryLoader">
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>

                  <table class="table" >
                        <thead class="fixedHeader">
                        <div class="row">
                      <div class="text-left span3 char" ><a href="" ng-click="predicate = 'id'; reverse=false">Иероглиф{{language.char}}</a>
                          (<a href="" ng-click="predicate = '-id'; reverse=false">^</a>)</div>
                      <div class="text-left span3 pinyin" ><a href="" ng-click="predicate = 's'; reverse=!reverse">Пиньинь{{language.pinyin}}</a></div>
                      <div class="text-left span3 russian" ><a href="" ng-click="predicate = 'russian'; reverse=!reverse">Русский{{language.translate}}</a></div>
                      <div class="text-left span3 english" style="display: none"><a href="" ng-click="predicate = 'english'; reverse=!reverse">Английский{{language.eng}}</a></div>
                        </div>
                        </thead>
                        <tbody class="scrollContent">
                        <div  style="height: 500px ;overflow: scroll;overflow-x: hidden ">
                            <div ng-class="row" ng-repeat="word in words | filter:query | orderBy:predicate:reverse" >
                                <div class="char char_big span3">{{word.id}}  {{word.char}}</div>
                                <div class="pinyin span3">{{word.pinyin }}</div>
                                <div class="russian span6">{{word.russian}}</div>
                                <div class="english span5" style="display:none">{{word.english}}</div>
                                <div style="display:none">{{word.s}}</div>
                            </div>
                            </div>
                        </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>