#_page_5.frame.no-padding-top.no-padding-right(ng-controller='LoveController')
	img.place-right(src='public/img/g.png', alt='Fork me on GitHub')
	.grid.no-margin
		.row.condensed.no-margin
			p.leader.v-align-middle github.com/tryhsk/tryhsk.github.com
		.row.condensed
			p.sub-leader {{content.baseWords}}
		.row.condensed
			p.header docs.google.com/spreadsheets/d/1eCcrph6foyjtuQBQxeaZF8ZyrP3EUIE8uiJf3yVISS4/edit?usp=sharing