div.treeview(data-role="treeview")
	ul
		li.node
			span.node-toggle
			span.leaf HSK level
			ul
				li(data-mode='checkbox')
					label.input-control.checkbox
						input(type='checkbox', ng-model='checkboxValues.hsk1')
						span.check
						span.leaf HSK 1
				li(data-mode='checkbox')
					label.input-control.checkbox
						input(type='checkbox', ng-model='checkboxValues.hsk2')
						span.check
						span.leaf HSK 2
				li(data-mode='checkbox')
					label.input-control.checkbox
						input(type='checkbox', ng-model='checkboxValues.hsk3')
						span.check
						span.leaf HSK 3
		li.node
			span.node-toggle
			span.leaf {{content.partOfSpeech}}
			ul
				li
					label.input-control.checkbox
						input(type='checkbox', ng-model='checkboxValues.noun')
						span.check
						span.leaf {{content.noun}}
				li
					label.input-control.checkbox
						//TODO именование переменных неправильное
						input(type='checkbox', ng-model='checkboxValues.pronoun')
						span.check
						span.leaf {{content.pronoun}}
				li
					label.input-control.checkbox
						input(type='checkbox', ng-model='checkboxValues.verb')
						span.check
						span.leaf {{content.verb}}
				li
					label.input-control.checkbox
						input(type='checkbox', ng-model='checkboxValues.adjective')
						span.check
						span.leaf {{content.adjective}}
				li
					label.input-control.checkbox
						input(type='checkbox', ng-model='checkboxValues.numeral')
						span.check
						span.leaf {{content.numeral}}
				li
					label.input-control.checkbox
						input(type='checkbox', ng-model='checkboxValues.otherPart')
						span.check
						span.leaf {{content.otherPart}}
		li.node
			span.node-toggle
			span.leaf {{content.theme}}
			ul
				li
					label.input-control.checkbox
						input(type='checkbox', ng-model='checkboxValues.place')
						span.check
						span.leaf {{content.place}}
				li
					label.input-control.checkbox
						input(type='checkbox', ng-model='checkboxValues.relate')
						span.check
						span.leaf {{content.relate}}
				li
					label.input-control.checkbox
						input(type='checkbox', ng-model='checkboxValues.otherThemes')
						span.check
						span.leaf {{content.otherThemes}}